<Environment>
	<Variable>
		<Name>Object</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("Object")</Value>
	</Variable>
	<Variable>
		<Name>NewBusinessObject</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewBusinessObject")</Value>
	</Variable>
	<Variable>
		<Name>ButtunPanel</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebElement("ButtunPanel")</Value>
	</Variable>
	<Variable>
		<Name>Dialog</Name>
		<Value>Browser("TeamcenterWeb").Dialog("Dialog")</Value>
	</Variable>
	<Variable>
		<Name>UserSettings</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("UserSettings")</Value>
	</Variable>
	<Variable>
		<Name>LoginSettingElement</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("UserSettings").WebTable("LoginSetting").WebElement("LoginSettingElement")</Value>
	</Variable>
	<Variable>
		<Name>CAGECode</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("UserSettings").WebTable("LoginSetting").WebButton("CAGECode")</Value>
	</Variable>
	<Variable>
		<Name>WebButtons</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("WebButtons")</Value>
	</Variable>
	<Variable>
		<Name>LoginSetting</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("UserSettings").WebTable("LoginSetting")</Value>
	</Variable>
	<Variable>
		<Name>MyTeamCenter</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter")</Value>
	</Variable>
	<Variable>
		<Name>Overview</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebElement("Overview")</Value>
	</Variable>
	<Variable>
		<Name>InputParametricValues</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("InputParametricValues")</Value>
	</Variable>
	<Variable>
		<Name>AssignFinish</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("AssignFinish")</Value>
	</Variable>
	<Variable>
		<Name>AssignFinishSrchRes</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("AssignFinishSrchRes")</Value>
	</Variable>
	<Variable>
		<Name>NewAudit</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewAudit")</Value>
	</Variable>
	<Variable>
		<Name>Information</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebElement("Information")</Value>
	</Variable>
	<Variable>
		<Name>NewItem</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewItem")</Value>
	</Variable>
	<Variable>
		<Name>MakeFrom</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("MakeFrom")</Value>
	</Variable>
	<Variable>
		<Name>SearchCriteria</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("SearchCriteria")</Value>
	</Variable>
	<Variable>
		<Name>AllProperties</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("AllProperties")</Value>
	</Variable>
	<Variable>
		<Name>NewDataset</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewDataset")</Value>
	</Variable>
	<Variable>
		<Name>NewAlternateID</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewAlternateID")</Value>
	</Variable>
	<Variable>
		<Name>SearchButtonTable</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("SearchButtonTable")</Value>
	</Variable>
	<Variable>
		<Name>ReviseItemRevision</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("ReviseItemRevision")</Value>
	</Variable>
	<Variable>
		<Name>PLMXMLImport</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebElement("PLMXMLImport")</Value>
	</Variable>
	<Variable>
		<Name>CheckOut</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("CheckOut")</Value>
	</Variable>
	<Variable>
		<Name>BOMCompare</Name>
		<Value>Browser("TeamcenterWeb-BOMCompare").Page("BOMCompare")</Value>
	</Variable>
	<Variable>
		<Name>Page</Name>
		<Value>Browser("ImportComplete").Page("Page")</Value>
	</Variable>
	<Variable>
		<Name>ImportComplete</Name>
		<Value>Browser("ImportComplete")</Value>
	</Variable>
	<Variable>
		<Name>SearchResult</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("SearchResults")</Value>
	</Variable>
	<Variable>
		<Name>SearchResult@1</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("SearchResult")</Value>
	</Variable>
	<Variable>
		<Name>2ndLevelButtonPanel</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebElement("2ndLavelButtunPanel")</Value>
	</Variable>
	<Variable>
		<Name>VendorPart</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("VendorPart")</Value>
	</Variable>
	<Variable>
		<Name>ChangeVendorSummary</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("ChangeVendorSummary")</Value>
	</Variable>
	<Variable>
		<Name>AddVendorRole</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("AddVendorRole")</Value>
	</Variable>
	<Variable>
		<Name>WebLogin</Name>
		<Value>Browser("TeamcenterLogin").Page("Login").WebTable("Login")</Value>
	</Variable>
	<Variable>
		<Name>NewFolder</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewFolder")</Value>
	</Variable>
	<Variable>
		<Name>NewForm</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewForm")</Value>
	</Variable>
	<Variable>
		<Name>ErrorPage</Name>
		<Value>Browser("Browser").Page("ErrorPage")</Value>
	</Variable>
	<Variable>
		<Name>Options</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("Options")</Value>
	</Variable>
	<Variable>
		<Name>NewProcess</Name>
		<Value>Browser("TeamcenterWeb").Page("MyTeamCenter").WebTable("NewProcess")</Value>
	</Variable>
</Environment>